/*default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(black, blue)
}
canvas{
    position: absolute;
    z-index: 0;
    width: 100%
 /*   height: 100%  ;*/
}


.linebr{
    color:rgba(7, 10, 49)
}
.highlight{
    color:rgb(175, 140, 0);
   /* border-color: black;
    border: 2px solid black; /*meh, leave for now*/

    transition-duration: 0.4s;
}
.highlight:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.section{ 
    background: linear-gradient(black, blue);
}

#welcomeMessage{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
    color: rgb(151, 151, 151);

    /* A ham-fisted approach to center the text but it works*/
    padding-left: 40%;
    padding-top: 20%;

    z-index: 1;
    position: absolute;   
}
#landingCanvas{
    text-align: center;
    
    position: sticky;
    top: 0; left: 0;
    background: radial-gradient(rgb(1, 31, 70), black);
}
#homeButton{
    margin-top: 5%;

    background-color: rgba(160, 160, 160, 0.15);
    color: goldenrod;
    border: 2px solid black;

    transition-duration: 0.4s;
}
#homeButton:hover{
    background-color: rgba(255, 255, 255, 0.5);
}



/* testing units */
#test0{
    position:absolute;
    color: rgb(158, 7, 7);
}


