/*__________________________________________Standard HTML tagas and default(s)*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(black, blue)
}
canvas{
    position: absolute;
    z-index: 0;
    width: 100%
 /*   height: 100%  ;*/
}
/*____________________________________________________________________________*/





/*__________________________________________________________TOP NAVIGATION BAR*/
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:5px 10%;
}
.navLinks{
    list-style: none;
}
.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a{
    transition: all 0.3s ease 0s;
    color: royalblue;
}
.navLinks li a:hover{
    color: goldenrod;
}
    /*navigation contact button*/
.contact button{
    font-size: 18px;
    color: white;

    padding: 10px 15px;
    background-color: rgb(138, 133, 133, 1);
    border: 2px solid blue;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.contact:hover{
    background-color: rgba(140, 112, 0, 0.2);
}
/*_________________________________________________________________END NAV BAR*/





/*line break*/
.linebr{
    color:rgba(7, 10, 49)
}

.highlight{
    color:rgb(175, 140, 0);

    transition-duration: 0.2s;
}
.highlight:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.section{ 
    background: linear-gradient(black, blue);
}





/*_________________________________________________________Canvas/landing area*/
#welcomeMessage{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
    color: rgb(197, 197, 197);
    text-shadow: rgb(0, 0, 0);

    /* A ham-fisted approach to center the text but it works*/
    padding-left: 40%;
    padding-top: 20%;

    z-index: 1;
    position: absolute;   
}
#landingCanvas{
    text-align: center;
    
    position: sticky;
    top: 0; left: 0;
    background: radial-gradient(rgb(1, 31, 70), black);
}

/*landing page navigation button design/effects*/
.canvasButton{
    margin-top: 5%;

    background-color: rgba(160, 160, 160, 0.15);
    color: goldenrod;
    border: 2px solid black;

    cursor: pointer;
    /*transition speed for *all* buttons*/
    transition-duration: .5s;
}
    /*skills button effect*/
#homeSkillsButton{
    box-shadow: 0 0 15px rgb(0, 0, 0);

}
#homeSkillsButton:hover{
    box-shadow: 0 0 5px #50a7ff,
                0 0 25px #50a7ff,
                0 0 50px #50a7ff,
                0 0 100px #50a7ff;
}
    /*project button effect*/
#homeProjectsButton{
    box-shadow: 0 0 25px blue;
}
#homeProjectsButton:hover{
    box-shadow: 0 0 5px #50a7ff,
                0 0 25px #50a7ff,
                0 0 50px #50a7ff,
                0 0 100px #50a7ff;
}
    /*about button effect*/
#homeAboutButton{
    box-shadow: 0 0 15px rgb(0, 0, 0); 
}
#homeAboutButton:hover{
    box-shadow: 0 0 5px #50a7ff,
                0 0 25px #50a7ff,
                0 0 50px #50a7ff,
                0 0 100px #50a7ff; 
}
/*____________________________________________________________END LANDING AREA*/





/*______________________________________________________________Skills section*/
#skillsSection{
    background: #333;
}

.skillInner{
    padding-top: 20px;
}


.skillHeader{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
}
.skillHeader:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #2ecc71;
}



.skillContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}



.skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}



.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;

}

.skill-box:hover img{
    transform: translateY(-10px);
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 35px;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;

    transition: .5s;
}
.skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 35px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;

    transition: .5s;
}



.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: .5s;
}
.img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}


.skill-title h3{
    color: #fff;
    margin-top: 0.5rem;
}


.skillIcon{
    width:50px;
    z-index: 2;
}











/*____________________________________________________________Projects Section*/
#projectsSection{
    background: blue; 
}